.header {
    padding-top: 40px;
}

/* structural elements below header */
.page {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}

.left {
    float: left;
    width: 35%;
}

.right {
    float: right;
    width: 65%;
}

/* left hand side: table */
table {
    width: 40%;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid rgb(179, 176, 176);
    text-align: left;
    font-size: 14px;
    vertical-align: text-bottom;
    padding-left: 2%;
}

/* right hand side: portfolio */