.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 160px;
}

.left {
    left: 3%;
}

.right {
    right: 3%;
}

/* left hand side: table */
table {
    width: 40%;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid rgb(179, 176, 176);
    text-align: left;
    font-size: 14px;
    vertical-align: text-bottom;
    padding-left: 2%;
    /*background-color:bisque;*/
}