.header {
    padding-top: 40px;
}

/* structural elements below header */
.page {
    width: 100%;
    margin-top: 40px;
    font-size: 14px;
}

.top {
    height: 100px;
}

.left { /* TODO: kan dit met style.css worden verenigd? */
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 55%;
}

/* bank fee button + overlay */
#bankfee {
    float: right;
    margin-right: 150px;
}

/* left hand side: table */
table {
    width: 40%;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid rgb(179, 176, 176);
    text-align: left;
    font-size: 14px;
    vertical-align: text-bottom;
    padding-left: 2%;
}

/* right hand side: portfolio */