body :not(#header):not(.cryptoOverlay){
    margin-left: 20px;
}

table {
    width: 80%;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid rgb(179, 176, 176);
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 5px;
    /*background-color:bisque;*/
}

tr:hover{
    background-color: teal;
}

.cryptoLogo {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 5px;
}

.cryptoLogo:first-child {
}

/* The Modal (background) */
.cryptoOverlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.cryptoOverlay-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px 15px 10px 0px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeCryptoOverlay {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeCryptoOverlay:hover,
.closeCryptoOverlay:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cryptoOverlay-header {
    height: 30px;
    padding: 2px 16px;
    background-color: #167D7F;
    color: white;
}

.cryptoOverlay-body {padding: 10px 16px 10px;}

.cryptoOverlay-footer {
    height: 30px;
    padding: 2px 16px;
    background-color: #167D7F;
    color: white;
}

#buy, #sell, #market{
    height: 25px;
    width: fit-content;
}

.marketTable th{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #001d23;
    color: white;
}