<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <script src="/scripts.js"></script>
    <link rel="stylesheet" href="header.css">
</head>
<body>
<div class="header">
    <div class="innerHeader">
        Welcome to Bank Sinatra!
        <div class="logoContainer">
            <h1> <img width="120" height="100" style="object-position: left" alt="BSlogo" src="/images/BSLogo.png" ></h1>
        </div>
        <ul class="navigation">
            <a><button id = "home" >Home</button></a>
            <a><button id = "settings" >Settings</button></a>
            <a><button id = "account">Account</button></a>
            <a><button id = "portfolio">Portfolio</button></a>
            <a><button id="transactions">Purchase Assets</button></a>
            <a><button id="logout">Log out</button></a>
        </ul>
    </div>
</div>


</body>
</html>