<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <script src="/scripts.js"></script>
    <link rel="stylesheet" href="header.css">
</head>
<body>
<div class="header">
    <div class="innerHeader">
        Welcome to Bank Sinatra!
        <div class="logoContainer">
            <h1> <img width="120" height="100" style="object-position: left" alt="BSlogo" src="/images/BSLogo.png" ></h1>
        </div>
        <ul class="navigation">
            <a><li id="account">Account</li></a>
            <a><li id="portfolio">Portfolio</li></a>
            <a><li id="transactions">Purchase Assets</li></a>
            <a><li id="settings">Settings</li></a>
            <a><li id="logout">Log out</li></a>
        </ul>
    </div>
</div>


</body>
</html>